.custom-button {
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

}

.btn-primary {
  background-color: var(--primary-color-vibrant) !important;
  border-color: var(--primary-color-vibrant) !important;
}

.btn-primary:hover {
  background-color: var(--primary-color-light) !important;
  border-color: var(--primary-color-light) !important;
}

.btn-secondary {
  background-color: var(--secondary-color-light) !important;
  border-color: var(--secondary-color-light) !important;
}

.btn-secondary:hover {
  background-color: var(--secondary-color-dark) !important;
  border-color: var(--secondary-color-dark) !important;
  color: var(--white) !important;
}

.btn-link {
  text-decoration: none !important;
  color: var(--secondary-color-dark);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}